<% content_for :title do %>dash.mojamoja.cloud<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="" data-view="ClockSimple"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="nature_living-room" data-view="Nature" style="background-color: #333; color: #fff;"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="nature_working-room" data-view="Nature"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="cthugha" data-view="Cthugha" style="background-color: #333; color: #fff;"></div>
    </li>
  </ul>
</div>
